/**
*
* Button
*
**/

.button {
    @include transition(.15s);
    background-color: $inactive-gray;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    i {
      margin-right: 10px;
    }
    &:hover {
      background-color: darken($inactive-gray, 3%);
      color: white;
    }
    &.button-overlay {
      &:focus {
        color: white;
        outline: none;
      }
    }
  }

.brochure-btn {
  background-color: $red;
  color: white;
  font-size: 20px;
  padding: 15px 40px;
  transition: all .25s;
  &:hover {
    background-color: lighten($red, 3%);
    color: white
  }
}

.partner-content {
  display: flex;
  align-items: center;
}

.makerLaunch {
  margin-top: 10px;
  background-color: #24acb9;
  color: #fff;
  padding: 6px 60px;
  border: 1px solid transparent;
  display: inline-block;
  &:hover {
    color: white;
  }
}


