.hero-header, .hero-intro {
  h1,h2,h3,h4,a,span,p {
    color: white;
  }
  text-align: center;
  &.landing {
    h1 {
      font-size: 36px;
    }
    text-align: left;
  }
}

#header-availability {
  position: relative;
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  .slick-carousel {
    width: 100%;
  }
  .mb-5 {
    margin-bottom: 40px;
    @include breakpoint(small) {
      margin-bottom: 80px;
    }
  }
  h1 {

  }
  h2 {
    font-size: 36px;
    // margin-top: 100px;
    margin-bottom: 0px;
    @include breakpoint(small) {
      font-size: 64px;
      // margin-top: 100px;
    }
    @include breakpoint(large) {
      font-size: 85px;
      // margin-top: 100px;
    }
  }
  h3 {
    font-size: 24px;
    @include breakpoint(small) {
      font-size: 44px;
    }
    @include breakpoint(large) {
      font-size: 55px;
    }
  }

  .booklet-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    height: 560px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 15px solid white;
    margin: 130px 0 100px;
    box-shadow: 0 0 40px black;
    padding-left: 30px;
    padding-right: 30px;
    @include breakpoint(small) {
      height: 660px;
    }
    @include breakpoint(large) {
      height: 760px;
    }
  }
  
  .brochure-btn {
    margin-top: 10px;
    display: inline-block;
    width: 120px;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    @include breakpoint(small) {
      padding: 10px;
      width: 160px;
      font-size: 24px;
    }
    @include breakpoint(large) {
      padding: 12px;
      width: 222px;
      font-size: 34px;
    }
  }
  #arrow {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: rgba(white,.2);
    transition: all .25s;
    &:hover {
      background-color: rgba(white,.3);
    }
    .icon {
      width: 0px;
      height: 0px;
      margin-top: 15px;
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-top: 17px solid white;
    }
    @include breakpoint(medium) {
      display: block;
    }
  }
}

.hero {
  background-position: center;
  background-size: cover;
  height: 400px;
  .scrollme {
    h1 {
      margin-top: 180px;
    }
    &.landing {

      h1,h3 {
        text-align: left;
      }
      h1 {
        margin-top: 150px;
        font-size: 38px;
        text-align: center;
      }
    }
  }
  &.hero-intro {
    height: 300px;
  }
  .slick-slide {
    margin-bottom: 0;
  }
  &.availability {
    display: flex;
    min-height: 100%;
    height: 100%;
    width: 100%;
    align-self: stretch;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: left;
  }
  @include breakpoint(small) {
    height: 700px;
    &.availability {
      display: flex;
      min-height: 100%;
      height: 100%;
      width: 100%;
      align-self: stretch;
      flex: 1 1 auto;
      flex-flow: column nowrap;
      justify-content: center;
      text-align: left;
    }
    .scrollme {
      h1 {
        margin-top: 320px;
      }  
      &.landing h1 {
        margin-top: 270px;
      } 
    }
    &.hero-intro {
      height: 500px;
      .scrollme h1{
          margin-top: 195px;
        }
    }
  }
}

#partners-book {
  padding-bottom: 30px;
  .row {
    display: flex;
    justify-content: center;
  }
  .left-side {
    text-align: center;
  }
  .left-side img {
    display: block;
    margin: auto;
    max-width: 200px;
  }
  .right-side img {
    display: none;
  }
  @include breakpoint(small) {
    .left-side img {
      display: none;
    }
    .right-side img {
      display: block;
    }
  }
}