.license {
    p {
        font-size: 20px;
    }
    .isolate {
        margin-top: 30px;
    } 
    .sub-header {
        font-size: 24px;
        line-height: 32px;
    }
    h3, .faq-wrapper p {
        font-family: $base-font-family;
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: 400;
    }
    .faq-wrapper p {
        color: lighten($inactive-gray,30%);
    }
    .how-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    @include breakpoint(medium) {
        .isolate {
            margin-top: 80px;
        }
    }
    .how-wrapper {
        flex-basis: 33.3333%;
        width: 33.3333%;
        text-align: center;
        * {
            max-width: 80%;
            margin:0 auto 10px;
        }
        @include breakpoint(medium) {
            flex-basis: 20%;
            width: 20%;
        }
    }
    .license-wrapper {
        position: relative;
        margin: 0 100px 50px;
        * {
            text-align: center;
        }
        .top {
           position: absolute;
           top: 20px;
           margin: 0 auto;
           width: 100%;
        }
        .price {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: $headline-font;
            font-weight: 100;
            font-size: 50px;
        }
        height: 300px;
        background-color: #fff;
        border: 3px solid $yellow;
        @include breakpoint(medium) {
            margin: 0 30px;
        }
    }
    .faq-container {
        display: flex;
        flex-flow: row wrap;
        width: 80%;
        margin: 0 auto;
        .faq-wrapper {
            width: 100%;
            flex-basis: 100%;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 20px;
            * {
                text-align: left;
            }
        }
        @include breakpoint(medium) {
            width: 80%;
            .faq-wrapper {
                width: 50%;
                flex-basis: 50%;
            }
        }
    }
    .disclaimer {
        text-align: center;
    }
    .license-button {
        text-decoration: underline;
        margin: 30px auto 0;
        &:hover {
            cursor: pointer;
        }
    }
}