<section id="header-about" class="hero-header">
    {{ theme:partial src="nav" }}

    <div class="slick-carousel" >
        {{ heroImages }}

        <div class="hero" style="background-image: url( {{ image }} );">

    </div>

        {{ /heroImages }}
    </div>

    
</section>

<section id="story" class="content large">
<a href="" class="anchor large" id="story-anchor"></a>
    <div class="container">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>Hudson Woods serves as a powerful model to showcase a dialogue between the built and natural environment. These dwellings are more than just places, they are experiences shared between family, friends, and neighbors. Through connected design, nuanced attention to detail, and a commitment to sustainability, we were able to work with nature to add value and meaning to these unique residences.
        </p>         
    </div>
    <div class="col-md-10 col-md-offset-1 wrapper-center">
        <h2 class="text-center">“Our mission is to create authentic, meaningful experiences at every turn.”</h2>
        <a target=_blank href="http://langarchitecture.com">Drew Lang, Lang Architecture</a>            
    </div>
    <div class="col-md-8 col-md-offset-2">
        <p>It took a village of makers, builders, and designers to make Hudson Woods what it is today. As a result, every home has been sold and the community is thriving. If you’d like to learn more about our approach to architecture and development, please visit <a href="https://langarchitecture.com" target="_blank">our site</a>.</p>
        </p>         
    </div>
</div>
    </div>
</section>
{{ theme:partial src="nav_about" }}
<section id="partners">
<a href="" class="anchor hero-anchor" id="area-anchor"></a>


    <div id="partner-list" class="content-tiles beige">
        <div class="container">
            <div class="row tile-wrapper-large">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        {{ partnerItems }}
                            <div class="col-xs-12 col-sm-6 partner-tile">
                            <a target=_blank href="{{ webAddress }}">
                                
                                    <div class="circle">
                                        
                                        <div class="circle-tile-overlay"></div>
                                        <div class="circle-tile" style="background-image: url( {{ image }} );"></div>
                                    </div>
                               
                                <h3>{{ headline }}</h3>
                                <h3>{{ subHeadline }}</h3>
                            </a>
                            <p>{{ description }}</p>
                            </div>
                        {{ /partnerItems}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="makers" class="white">
    <a href="" class="anchor hero-anchor" id="makers-anchor"></a>
    {{# <div class="maker hero hero-intro" style="background-image: url( {{ makerHero }} );">
        <div class="container scrollme">
            <div class="row">
                <h1>Makers</h1>
            </div>
        </div>
    </div> #}}

    <div id="makers-list" class="content-tiles centered">
        <div class="container">
            <div class="row tile-wrapper-large">
                {{ entries:listing folder="about/makers" sort_dir="asc" limit="6" }}
                <div class="col-xs-12 col-sm-6 col-lg-4 tile">
                    <div class="makers-tiles">
                        <a class="slide" target=_blank href="{{ link }}">
                            <img class="slide-away" src="{{ image }}" alt="{{ title }}">
                            <span class="slide-in">
                                <img src="{{ logo }}" alt="">
                            </span>
                        </a>
        
                        <div class="slide-caption">
                            <h3><a href="{{ link }}">{{ makerTitle }}</a></h3>
                            <p class="slide-description">{{ makerTagline }}</p>
                        </div>
        
                    </div>
                </div>
                {{ /entries:listing }}
                {{ entries:listing folder="about/makers" sort_dir="asc" offset="6" }}
                <div class="col-xs-12 col-sm-6 col-lg-4 tile" id="additional-makers">
                    <div class="makers-tiles">
                        <a class="slide" target=_blank href="{{ link }}">
                            <img class="slide-away" src="{{ image }}" alt="{{ title }}">
                            <span class="slide-in">
                                <img src="{{ logo }}" alt="">
                            </span>
                        </a>
        
                        <div class="slide-caption">
                            <h3><a href="{{ link }}">{{ makerTitle }}</a></h3>
                            <p class="slide-description">{{ makerTagline }}</p>
                        </div>
        
                    </div>
                </div>
                {{ /entries:listing }}
                <p class="large centered">
                    <span id="view-more">View <span id="amount">More</span>Makers</span>
                </p>
            </div>
        </div>
    </div>
</section>


<script>
    $( "#view-more" ).click(function() {
        $( "#additional-makers" ).slideToggle()});
</script>

<section id="area" class="lighter-gray">
    <a href="" class="anchor hero-anchor" id="area-anchor"></a>
    <div class="maker hero hero-intro">
        <div class="container scrollme">
            <div class="row">
                <h1 class="dark">In The Area</h1>
            </div>
        </div>
    </div>
    {{ theme:partial src="nav_in-the-area" }}
    <div id="in-the-area-map"></div>
    <div id="map">
    <a href="" class="anchor in-the-area" id="in-the-area-anchor"></a>
    </div>

    <div class="map-mobile-container">

        <div class="in-the-area-dropdown">
        <div class="container">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <ul class="nav nav-tabs hudson-dropdown" role="tablist">
            <li class="dropdown">
            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">View Activities<i class="fa fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
      
                <li class="active">
                    <a href="#all-mobile" tabindex="-1" role="tab" data-toggle="tab">All</a>
                </li>
                <li>
                    <a href="#sleep-mobile" tabindex="-1" role="tab" data-toggle="tab">sleep</a>
                </li>
                <li>
                    <a href="#eat-mobile" tabindex="-1" role="tab" data-toggle="tab">eat</a>
                </li>
                <li>
                    <a href="#sip-mobile" tabindex="-1" role="tab" data-toggle="tab">sip</a>
                </li>
                <li>
                    <a href="#culture-mobile" tabindex="-1" role="tab" data-toggle="tab">culture</a>
                </li>
                <li>
                    <a href="#swing-mobile" tabindex="-1" role="tab" data-toggle="tab">swing</a>
                </li>
                <li>
                    <a href="#ski-mobile" tabindex="-1" role="tab" data-toggle="tab">ski</a>
                </li>
                <li>
                    <a href="#swim-mobile" tabindex="-1" role="tab" data-toggle="tab">swim</a>
                </li>
                <li>
                    <a href="#pick-and-grow-mobile" tabindex="-1" role="tab" data-toggle="tab">Pick &amp; Grow</a>
                </li>
                <li>
                    <a href="#trails-mobile" tabindex="-1" role="tab" data-toggle="tab">trails</a>
                </li>
                <li>
                    <a href="#mind-and-body-mobile" tabindex="-1" role="tab" data-toggle="tab">Mind &amp; Body</a>
                </li>
                
            </ul>
            </li>
            </ul>
        </div>
        </div>
        </div>
    
        <section class="content map-mobile-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">  
                        <div class="tab-content">


                            <div id="all-mobile" class="tab-pane fade in active">
                            {{ entries:listing folder="
                            in-the-area/eat|in-the-area/sleep|in-the-area/sip|in-the-area/culture|in-the-area/swing|in-the-area/ski|in-the-area/swim|in-the-area/spick-and-grow|in-the-area/trails|in-the-area/mind-and-body" sort_dir="asc" }}
                            <div class="col-xs-12">
                                <div class="card area mobile {{ activity|lower|slugify }}">
                                <div style="overflow: hidden;">
                                    <h4><span class="{{ activity|lower|slugify }}"></span>{{ activity }}</h4>
                                    <h2>{{ title }}</h2>
                                    <img src="{{ image }}" alt="{{ title }}">
                                    {{ content }}
                                </div>
                                </div>
                            </div>
                            {{ /entries:listing }}
                            </div>

                            <div id="sleep-mobile" class="tab-pane fade">
                            {{ entries:listing folder="in-the-area/sleep" sort_dir="asc" }}
                            <div class="col-xs-12">
                                <div class="card area mobile {{ activity|lower|slugify }}">
                                <div style="overflow: hidden;">
                                    <h4><span class="{{ activity|lower|slugify }}"></span>{{ activity }}</h4>
                                    <h2>{{ title }}</h2>
                                    <img src="{{ image }}" alt="{{ title }}">
                                    {{ content }}
                                </div>
                                </div>
                            </div>
                            {{ /entries:listing }}
                            </div>

                            <div id="eat-mobile" class="tab-pane fade">
                            {{ entries:listing folder="in-the-area/eat" sort_dir="asc" }}
                            <div class="col-xs-12">
                                <div class="card area mobile {{ activity|lower|slugify }}">
                                <div style="overflow: hidden;">
                                    <h4><span class="{{ activity|lower|slugify }}"></span>{{ activity }}</h4>
                                    <h2>{{ title }}</h2>
                                    <img src="{{ image }}" alt="{{ title }}">
                                    {{ content }}
                                </div>
                                </div>
                            </div>
                            {{ /entries:listing }}
                            </div>

                            <div id="sip-mobile" class="tab-pane fade">
                            {{ entries:listing folder="in-the-area/sip" sort_dir="asc" }}
                            <div class="col-xs-12">
                                <div class="card area mobile {{ activity|lower|slugify }}">
                                <div style="overflow: hidden;">
                                    <h4><span class="{{ activity|lower|slugify }}"></span>{{ activity }}</h4>
                                    <h2>{{ title }}</h2>
                                    <img src="{{ image }}" alt="{{ title }}">
                                    {{ content }}
                                </div>
                                </div>
                            </div>
                            {{ /entries:listing }}
                            </div>

                            <div id="culture-mobile" class="tab-pane fade">
                            {{ entries:listing folder="in-the-area/culture" sort_dir="asc" }}
                            <div class="col-xs-12">
                                <div class="card area mobile {{ activity|lower|slugify }}">
                                <div style="overflow: hidden;">
                                    <h4><span class="{{ activity|lower|slugify }}"></span>{{ activity }}</h4>
                                    <h2>{{ title }}</h2>
                                    <img src="{{ image }}" alt="{{ title }}">
                                    {{ content }}
                                </div>
                                </div>
                            </div>
                            {{ /entries:listing }}
                            </div>

                            <div id="swing-mobile" class="tab-pane fade">
                            {{ entries:listing folder="in-the-area/swing" sort_dir="asc" }}
                            <div class="col-xs-12">
                                <div class="card area mobile {{ activity|lower|slugify }}">
                                <div style="overflow: hidden;">
                                    <h4><span class="{{ activity|lower|slugify }}"></span>{{ activity }}</h4>
                                    <h2>{{ title }}</h2>
                                    <img src="{{ image }}" alt="{{ title }}">
                                    {{ content }}
                                </div>
                                </div>
                            </div>
                            {{ /entries:listing }}
                            </div>

                            <div id="ski-mobile" class="tab-pane fade">
                            {{ entries:listing folder="in-the-area/ski" sort_dir="asc" }}
                            <div class="col-xs-12">
                                <div class="card area mobile {{ activity|lower|slugify }}">
                                <div style="overflow: hidden;">
                                    <h4><span class="{{ activity|lower|slugify }}"></span>{{ activity }}</h4>
                                    <h2>{{ title }}</h2>
                                    <img src="{{ image }}" alt="{{ title }}">
                                    {{ content }}
                                </div>
                                </div>
                            </div>
                            {{ /entries:listing }}
                            </div>

                            <div id="swim-mobile" class="tab-pane fade">
                            {{ entries:listing folder="in-the-area/swim" sort_dir="asc" }}
                            <div class="col-xs-12">
                                <div class="card area mobile {{ activity|lower|slugify }}">
                                <div style="overflow: hidden;">
                                    <h4><span class="{{ activity|lower|slugify }}"></span>{{ activity }}</h4>
                                    <h2>{{ title }}</h2>
                                    <img src="{{ image }}" alt="{{ title }}">
                                    {{ content }}
                                </div>
                                </div>
                            </div>
                            {{ /entries:listing }}
                            </div>

                            <div id="pick-and-grow-mobile" class="tab-pane fade">
                            {{ entries:listing folder="in-the-area/pick-and-grow" sort_dir="asc" }}
                            <div class="col-xs-12">
                                <div class="card area mobile {{ activity|lower|slugify }}">
                                <div style="overflow: hidden;">
                                    <h4><span class="{{ activity|lower|slugify }}"></span>{{ activity }}</h4>
                                    <h2>{{ title }}</h2>
                                    <img src="{{ image }}" alt="{{ title }}">
                                    {{ content }}
                                </div>
                                </div>
                            </div>
                            {{ /entries:listing }}
                            </div>

                            <div id="trails-mobile" class="tab-pane fade">
                            {{ entries:listing folder="in-the-area/trails" sort_dir="asc" }}
                            <div class="col-xs-12">
                                <div class="card area mobile {{ activity|lower|slugify }}">
                                <div style="overflow: hidden;">
                                    <h4><span class="{{ activity|lower|slugify }}"></span>{{ activity }}</h4>
                                    <h2>{{ title }}</h2>
                                    <img src="{{ image }}" alt="{{ title }}">
                                    {{ content }}
                                </div>
                                </div>
                            </div>
                            {{ /entries:listing }}
                            </div>

                            <div id="mind-and-body-mobile" class="tab-pane fade">
                            {{ entries:listing folder="in-the-area/mind-and-body" sort_dir="asc" }}
                            <div class="col-xs-12">
                                <div class="card area mobile {{ activity|lower|slugify }}">
                                <div style="overflow: hidden;">
                                    <h4><span class="{{ activity|lower|slugify }}"></span>{{ activity }}</h4>
                                    <h2>{{ title }}</h2>
                                    <img src="{{ image }}" alt="{{ title }}">
                                    {{ content }}
                                </div>
                                </div>
                            </div>
                            {{ /entries:listing }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



</section>



