<section id="header-about" class="hero-header">
    {{ theme:partial src="nav" }}

    <div class="slick-carousel" >
        {{ heroImages }}

        <div class="hero" style="background-image: url( {{ image }} );">

    </div>

        {{ /heroImages }}
    </div>

    
</section>

<section id="story" class="content large">
<a href="" class="anchor large" id="story-anchor"></a>
    <div class="container">
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>Hudson Woods serves as a powerful model to showcase a dialogue between the built and natural environment. These dwellings are more than just places, they are experiences shared between family, friends, and neighbors. Through connected design, nuanced attention to detail, and a commitment to sustainability, we were able to work with nature to add value and meaning to these unique residences.
        </p>         
    </div>
    <div class="col-md-10 col-md-offset-1 wrapper-center">
        <h2 class="text-center">“Our mission is to create authentic, meaningful experiences at every turn.”</h2>
        <a target=_blank href="http://langarchitecture.com">Drew Lang, Lang Architecture</a>            
    </div>
    <div class="col-md-8 col-md-offset-2">
        <p>It took a village of makers, builders, and designers to make Hudson Woods what it is today. As a result, every home has been sold and the community is thriving. If you’d like to learn more about our approach to architecture and development, please visit <a href="https://langarchitecture.com" target="_blank">our site</a>.</p>
        </p>         
    </div>
</div>
    </div>
</section>
{{ theme:partial src="nav_about" }}
<section id="partners">
<a href="" class="anchor hero-anchor" id="partners-anchor"></a>
    <div class="partner hero hero-intro" style="background-image: url( {{ partnerHero }} );">
        <div class="container scrollme">
            <h1>Team</h1>
        </div>
    </div>

    <div id="partner-list" class="content-tiles beige">
        <div class="container">
            <div class="row tile-wrapper-large">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        {{ partnerItems }}
                            <div class="col-xs-12 col-sm-6 partner-tile">
                            <a target=_blank href="{{ webAddress }}">
                                
                                    <div class="circle">
                                        
                                        <div class="circle-tile-overlay"></div>
                                        <div class="circle-tile" style="background-image: url( {{ image }} );"></div>
                                    </div>
                               
                                <h3>{{ headline }}</h3>
                                <h3>{{ subHeadline }}</h3>
                            </a>
                            <p>{{ description }}</p>
                            </div>
                        {{ /partnerItems}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="makers" class="beige">
    <a href="" class="anchor hero-anchor" id="makers-anchor"></a>
    <div class="maker hero hero-intro" style="background-image: url( {{ makerHero }} );">
        <div class="container scrollme">
            <div class="row">
                <h1>Makers</h1>
            </div>
        </div>
    </div>

    <div id="makers-list" class="content-tiles centered">
        <div class="container">
            <div class="row tile-wrapper-large">
                {{ entries:listing folder="about/makers" sort_dir="asc" }}
                <div class="col-xs-12 col-sm-6 col-lg-4 tile">
                    <div class="makers-tiles">
                        <a class="slide" target=_blank href="{{ link }}">
                            <img class="slide-away" src="{{ image }}" alt="{{ title }}">
                            <span class="slide-in">
                                <img src="{{ logo }}" alt="">
                            </span>
                        </a>
        
                        <div class="slide-caption">
                            <h3><a href="{{ link }}">{{ makerTitle }}</a></h3>
                            <p class="slide-description">{{ makerTagline }}</p>
                        </div>
        
                    </div>
                </div>
                {{ /entries:listing }}
            </div>
        </div>
    </div>
</section>




