<section id="header-availability" class="hero-header">
	{{ theme:partial src="nav" }}

	
		

		<div class="hero availability" style="background-image: url( {{ heroImage }} );">
			<div class="container">
				<div class="mb-5">
					<h2>Availability</h2>
					<a class="brochure-btn" href="{{ homepage }}contact"><strong>Inquire</strong></a>
				</div>
				<div class="mb-4">
					<h3><strong>Information Brochure</strong></h3>
					<a target="_blank" class="brochure-btn" href="{{ brochure }}"><strong>Download</strong></a>
				</div>
			</div>
		</div>
		
</section>