<section id="header-availability" class="hero-header">
	{{ theme:partial src="nav" }}

	
		

		<div class="hero availability" style="background-image: url( {{ heroImage }} );">
			<div class="container">
				<div class="col-md-8 booklet-wrapper" style="background-image: url({{ bookletImage }});">
					<div class="booklet-content">
							<div class="mb-5">
									<h2>Availability</h2>
									<a class="brochure-btn" href="{{ homepage }}contact"><strong>Inquire</strong><br>$1,180,000</a>
								</div>
								<div class="mb-4">
									<h3><strong>Information Brochure</strong></h3>
									<a target="_blank" class="brochure-btn" href="{{ brochure }}"><strong>Download</strong></a>
								</div>
					</div>

				</div>

			</div>
		</div>
		
</section>