<div id="map" class="availability">
<div class="legend">
	<div class="legend-marker not-released"><span class="spacer"></span>Not Released</div>
	<div class="legend-marker for-sale"><span class="spacer"></span>For Sale</div>
	<div class="legend-marker contract-out"><span class="spacer"></span>Contract Out</div>
	<div class="legend-marker contract-signed"><span class="spacer"></span>Contract Signed</div>	
	<div class="legend-marker sold"><span class="spacer"></span>Sold</div>
	<div class="legend-marker model-house"><span class="spacer"></span>Model House</div>
</div>
<div class="legend availability">
	<div class="legend-marker" style="text-align: center">AVAILABLE LOTS</div>
	<div class="table">
	{{ entries:listing folder="availability/for-sale" sort_dir="asc" }}
		<a href="{{ url }}" class="table-row lot">
			<div class="table-cell">{{ title }}</div>
			<div class="table-cell">{{ size }} AC</div>
			<div class="table-cell">{{ if hide_cost }}Pricing...{{ else }}{{ cost }}{{ endif }}</div>
		</a>
	{{ /entries:listing }}
	</div>
	<a href="/contact" class="inquire">INQUIRE HERE</a>
</div>

	<a href="" class="anchor availability" id="availability-anchor"></a>
</div>