<!-- <div id="license-cookie-test">Reset Cookie</div> -->

<!-- <div id="license-popup">
    <div class="container">
        <div class="popup-details">
            <div class="bold">Hudson Wood Lots Are All Sold</div>
            <div class="thin">Find Out How To Build One of Our Homes on Your Own</div>
        </div>
        <a class="license-button" href="{{ homepage }}license">INQUIRE</a>
    </div>
    <div class="license-close-button"><img src="{{ theme:img src="close.png" }}"></div>
</div> -->

<div id="license-popup">
    <div class="container">
        <div class="popup-details">
            <div class="bold">One House Remaining For Sale At Hudson Woods</div>
            <div class="thin">Find Out How To Purchase This House</div>
        </div>
        <a class="license-button" href="{{ homepage }}contact">INQUIRE</a>
    </div>
    <div class="license-close-button"><img src="{{ theme:img src="close.png" }}"></div>
</div>
